.login-screen-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-screen-container button {
  width: 50vh;
  margin-top: 1vh;
}

.login-screen-container input {
  width: 40vh;
  padding: 1vh;
}

.login-title {
  font-size: 5vh;
  font-weight: bold;
}

.register-button {
  margin-top: 10vh !important;
}